body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: border-box;
}


.logo {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #007FFB;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navitem a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
}

.navitem img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  border: none;
}

.navitem p {
  margin-top: 0px;
  text-align: center;
}

.navitems a.active {
  background-color: #4CAF50;
  color: white;
}

.navitem a:hover:not(.active) {
  font-weight: bolder;
}

.search {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.searchform {
  margin-top: 10px;
  text-align: center;
}

input:not(.settings)[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('img/vergrootglas.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 7px 50px 7px 40px;
}

hr {
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.insight {
  height: 400px;
  width: 42%;
  background-color: #f0f0f0f0;
  display: inline-block;
  margin-top: 7%;
  overflow-y:auto;
}

.left {
  margin-left: 50px;
}

.right {
  float: right;
  margin-right: 50px;
}

@media only screen and (max-width: 1000px) {
  .insight {
    margin-right: 0;
    display: block;
    width: 100%;
    float: left;
  }
  .left{
    margin-left: 0;
    display: block;
    width: 100%
  }
  .right {
    margin-right: 0;
    display: block;
    width: 100%;
    float: left;
  }
}

.employeeamount {
  font-size: 60px;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: #FEAD68;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    margin-top: 15%;
    color: white;
}

.title {
  text-align: center;
}

.stock  {
  height: 99%;
  width: 100%;
}

.jarigentable {
  width: 100%;
  height: 100%;
  background-color: #FEAD68;
    border-radius: 10px;
      padding: 20px;
}
table {
  margin: 0 auto;
}

.jarigen {
  color: white;
}

.geenjarigen {
  text-align: center;
  margin-top: 10%;
}
