hr {
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.insight {
  height: 400px;
  width: 42%;
  background-color: #f0f0f0f0;
  display: inline-block;
  margin-top: 7%;
  overflow-y:auto;
}

.left {
  margin-left: 50px;
}

.right {
  float: right;
  margin-right: 50px;
}

@media only screen and (max-width: 1000px) {
  .insight {
    margin-right: 0;
    display: block;
    width: 100%;
    float: left;
  }
  .left{
    margin-left: 0;
    display: block;
    width: 100%
  }
  .right {
    margin-right: 0;
    display: block;
    width: 100%;
    float: left;
  }
}

.employeeamount {
  font-size: 60px;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: #FEAD68;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    margin-top: 15%;
    color: white;
}

.title {
  text-align: center;
}

.stock  {
  height: 99%;
  width: 100%;
}

.jarigen {
  color: white;
  text-align: center;
  margin-top: 10%;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: #FEAD68;
  margin-left: auto;
  margin-right: auto;
}
