hr {
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.queryresultaten {
  text-decoration: none;
  color: black;
}

.addbutton {
  float: right;
  background-color: #45b5ff;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.datainput {
    width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.tabel {
  overflow-x:auto;
}

.collapsible {
  display: inline-block;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #0076c4;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 90%;
}

.image {
  height: 17px;
  width: 17px;
  margin-top: auto;
  margin-bottom: auto;
}

.logout {
float: right;
margin-top: 25px;
}

.innernav a{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
}
.innernav p{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
}
.innernav h1{
  display: inline-block;
}
.section{
  background-color: #f0f0f0;
  padding: 2%;
}
@media only screen and (max-width: 800px) {
  .innernav a{
    display: block;
  }
  .innernav p {
    display: block;
  }
}

.compname {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settings:not(.compname)[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settings:not(.compname)[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .settings:not(.compname)[type=text] {
    width: 100%;
  }
}

label {
  margin-right: 1%;
}

.alert {
  padding: 20px;
  background-color: red;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.succes {
  padding: 20px;
  background-color: green;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #577CFB;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .settings {
    width: 100%;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pf {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uploadfile {
  background-color: #007FFB;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.file::-webkit-file-upload-button {
  background-color: #007FFB;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
}
.file::before {
  border-color: black;
}
.file::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.form {
  margin-left: auto;
  margin-right: auto;
}